<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配CMS</name>
  <sitepath>web</sitepath>
  <author>方配</author>
  <import />
  <urltype>2</urltype>
  <version>1.0</version>
  <sitetitle>方配CMS</sitetitle>
  <keywords />
  <description />
  <otherhead />
  <autocreate>1</autocreate>
  <closed>0</closed>
  <closedreason>站点正在升级，请稍后再访问！</closedreason>
  <ipdenyaccess />
  <ipaccess />
  <createdate>2019-06-19</createdate>
  <iscompile>0</iscompile>
  <roles />
</SiteConfig>